.barraAzul{
    background-color: #001988;
}

.back{
    margin-left: 8vh !important;
    background-color: #00D4A3 !important;
    border: white 0px solid !important;
    color: #001988 !important;
    border-radius: 25px !important;
    margin-right: 100px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 190px !important;
    
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}



.miniaturaPatientPrograms{
    width: 25vh;
}


.infoPaciente{
    color: #001988;
}

.asignarPrograma{
    margin-top: 3.5vh;
    color: #001988;
}

.susProgramas{
    margin-top: 3vh;
}